a.home-avatar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 0.5rem;
}

a.home-avatar img {
    height: 4rem; /* Use height to avoid layout shifting (flex column) */
}

a.home-avatar > img,
a.home-avatar > svg
    { display: block; }

/* hover effect inspired by
 * https://www.buildinamsterdam.com/cases
 * (as shown in Hyperplexed's
 * "These Pesky Web Designers Have Done It Again..."
 * https://www.youtube.com/watch?v=GSPUUN4nDGE)
 */
a.home-avatar {
    --fill: black;

    border-radius: 50%;
    background-color: #090926;
}

body.only-dark a.home-avatar { --fill: white; }
@media (prefers-color-scheme: dark) {
    body:not(.only-light) a.home-avatar {
        --fill: white;
    }
}

a.home-avatar * { pointer-events: none; }

a.home-avatar > svg {
    position: absolute;
    z-index: -1;

    font-size: 1.5rem;
    rotate: 90deg;
    transition: rotate 300ms ease-out
}
a.home-avatar > svg text {
    font-family: 'Times New Roman', Times, serif;
    fill: var(--fill);
    opacity: 0;
    transition: opacity 200ms linear;
}

a.home-avatar:hover         > svg,
a.home-avatar:focus-visible > svg {
    rotate: 0deg;
}
a.home-avatar:hover         > svg text,
a.home-avatar:focus-visible > svg text {
    opacity: 1;
    transition-delay: 100ms;
}