body { margin: 0; }

main.index {
    min-height: 100vh;
    min-height: 100svh; /* interacts better with mobile browser interface */

    font-family: monospace;

    grid-template-columns:
        1fr
        [mid] fit-content(50%)
        1fr;
    grid-template-rows:
        1fr
        [mid] min-content
        1fr;
}

.grid {
    display: grid;
    justify-items: center;
    align-items: center;
}

h1 {
    all: unset; /* Ignore browser styles */
    display: block;
    font-size: 2rem;
}

h2 {
    all: unset;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
}

ul {
    margin-block: unset;
    padding-inline-start: 30px;
}

.grid-mid {
    grid-column-start: mid;
    grid-row-start: mid;
}
.grid-mid-sub {
    grid-column-start: mid;
    grid-row-start: -2;
    align-self: flex-start;
}

.grid-col {
    width: 100%;
    height: 100%;
    grid-row: 1 / -1;
}

.grid-right { grid-column-start: -2; }

.align-inline-start {
    justify-self: flex-start;
    margin-inline: 20%;
}




/* Mobile breakpoint */
@media only screen and (max-width: 600px) {
    .grid.collapsible {
        /* Collapse columns, probably
         * will cause overlap if a row
         * has multiple populated cells
         */
        grid-template-columns: [mid] 1fr;
    }
}