body { margin: 0; }

main {
    min-height: 100vh;
    min-height: 100svh; /* interacts better with mobile browser interface */

    font-family: monospace;
}


/* Layout ----------------------------------------------- */

.grid-2-col {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

main > section { align-self: center; }
main > section.hey { justify-self: center; }

/* Mobile breakpoint */
@media only screen and (max-width: 600px) {
    .grid-2-col {
        display: flex;
        flex-direction: column;
    }

    main {
        margin-block-start: 4.5rem; /* home-avatar */
        margin-inline: 1rem;
    }

    main > * {
        align-self: unset !important;
    }
}


/* Styling ---------------------------------------------- */

.hey > h1 {
    margin-block-end: 0.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-block-end: 0.25rem;
}

ul {
    margin-block: unset;
    padding-inline-start: 30px;
}

/* Mobile breakpoint */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.75rem;
    }
}
