body { margin: 0; }

main.index {
    min-height: 100vh;
    min-height: 100svh; /* interacts better with mobile browser interface */

    font-family: monospace;

    grid-template-columns:
        1fr
        [mid] fit-content(50%)
        1fr;
    grid-template-rows:
        1fr
        [mid] min-content
        1fr;
}

.grid {
    display: grid;
    justify-items: center;
    align-items: center;
}

.grid-mid {
    grid-column-start: mid;
    grid-row-start: mid;
}
.grid-mid-sub {
    grid-column-start: mid;
    grid-row-start: -2;
    align-self: flex-start;
}

.grid-col {
    width: 100%;
    height: 100%;
    grid-row: 1 / -1;
}

.grid-right { grid-column-start: -2; }

.align-inline-start {
    justify-self: flex-start;
    margin-inline: 20%;
}


/* Mobile breakpoint */
@media only screen and (max-width: 600px) {
    .grid.collapsible {
        min-height: unset;
        margin-block-start: 4.6875rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .collapsible .grid-mid {
        margin-block: 1.25rem;
        margin-inline: 4rem;
    }

    .collapsible .grid-col {
        width: unset;
        margin-inline: 4rem;
        margin-block: 2rem;
        gap: 2rem;
    }

    .collapsible .align-inline-start {
        margin-inline: unset;
    }
}


/* Styling -------------------------- */

.bubble {
    position: relative;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.15s;
}
.bubble::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.2rem;
    right: -0.2rem;
    border-radius: 5px;
    background-color: currentColor;
    opacity: 0.4;
    transition: opacity 0.2s;
}

.bubble:hover,
.bubble:focus-visible {
    text-decoration-color: currentColor;
}
.bubble:hover::before,
.bubble:focus-visible::before {
    opacity: 0.3;
}


h1, h2 { margin-block: unset; }
h1 { font-size: 2rem; font-weight: unset; }
h2 { font-size: 1.5rem; }

ul {
    margin-block: unset;
    padding-inline-start: 30px;
}


/* Mobile breakpoint */
@media only screen and (max-width: 600px) {
    h2 { font-size: 1.25rem; }
    ul { margin-block: 0.5rem; }
}