/* Inspired by Kevin Powell's "Five easy and fun CSS effects"
 * https://www.youtube.com/watch?v=pbD55DJgOlw&t=788s
 */

.fancy-button {
    cursor: pointer;
    border-radius: 100vh;

    padding-block: 0.35em 0.425em;
    padding-inline: 0.75em;

    outline: 0.075em solid transparent;
    outline-offset: -0.2em;

    transition:
        outline-offset 100ms,
        outline-color 250ms;
}
.fancy-button:hover,
.fancy-button:focus-visible {
    outline-color: currentColor;

    transition:
        outline-offset 100ms,
        outline-color 300ms;
}
.fancy-button:active {
    outline-offset: -0.3em;
}



button.fancy-gradient { border: 0; }
.fancy-gradient {
    background-image: linear-gradient(45deg,
        #845EC2,
        #D65DB1,
        #FF6F91,
        #FF9671,
        #FFC75F,
        #F9F871
    );
}




/* Test button
    <button class="fancy-button fancy-gradient" style="font-size: 4rem"></button>
 */