/* Derived from Mehdi's 'CSS Scanlines'
 * https://codepen.io/meduzen/pen/zxbwRV?editors=0100
 * Linked from https://dev.to/ekeijl/retro-crt-terminal-screen-in-css-js-4afh
 *   - https://codesandbox.io/p/sandbox/crt-terminal-in-css-js-tlijm
 *   - https://tlijm.csb.app/
 */

.scanlines {
    --speed: 0.02;
    --size: 2px;
    --color: #00000040;
    --tint: transparent;
}
@media (prefers-color-scheme: light) {
    body:not(.only-dark) .scanlines::after { background: none !important; }
}

.scanlines::after {
    content: '';
    position: fixed;
    inset: 0;
    pointer-events: none;

    background-image: linear-gradient(to bottom,
        var(--tint) 50%,
        var(--color) 51%
    );

    background-size: auto var(--size);
}

/* Looks bad on thin elements
@media not (prefers-reduced-motion) {
    .scanlines::after {
        animation: scanlines calc(1s / var(--speed)) linear infinite;
    }
}
@keyframes scanlines { 0% { background-position: 0 50%; }}
*/